/**Form*/
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    width: 50%;
    margin-bottom: 20%;
    margin-left: 20%;
    box-sizing: content-box;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: hsl(0, 0%, 100%);
    border: 4px solid hsla(190, 67%, 45%, 0.377);
  }

#form-title {
  font-size: 18px;
  margin-bottom: 15px;
  text-align: center;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input,
textarea,
button {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input:hover {
    border-color: hsla(190, 67%, 45%, 0.377);
  }

button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}
